.album-show {
  position: absolute;
  display: flex;
  left: 220px;
  margin: 45px;
}

.album-show .album-image {
  width: 320px;
  height: 320px;
}

.album-info {

}

.album-songs {
  width: 900px;
}
