.albums-index {
  /* overflow-y: hidden; */
  /* position: absolute; */
  height: Calc(100% - 50px);
  /* height: auto; */
  /* top: 150px; */
  margin-top: 26px;
}

.item-rows {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  margin: 0 45px;
}

.collection-index-item {

  padding: 0 8px;
  margin: 0px 8px 25px;
  font-family: 'Helvetica Neue', serif;
  color: white;
  font-weight: 400;
  letter-spacing: .015em;
  text-align: center;
}

.collection-img {
  width: 222px;
  height: 222px;
}

.collection-title {
  margin-top: 12px;
  margin-bottom: 4px;
  height: 20px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}

.collection-creator {
  display: inline-block;
  height: 20px;
  margin: auto;
  padding-bottom: -4px;
  font-size: 14px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, .6);
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.collection-creator:hover {
  border-bottom: 1px solid white;
  color: white;
  transition: 0.2s;
}

.collection-image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}

.collection-image-container:hover .image-overlay {
  opacity: 0.7;
}

.collection-img-overlay {
  max-height: 100%;
  max-width: 100%;
  width: 38%;
  height: 38%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.25s
}

.collection-img-overlay:hover {
  width: 44%;
  height: 44%;
  transition: 0.25s;
}
