.artists-index {
  margin-top: 13px;
  padding-left: 2%;
}

.artist-index-item {
  padding: 30px;
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: 100;
}

.artist-img {
  width: 222px;
  height: 222px;
  border-radius: 100%;
  margin-bottom: 11px;
}

.artist-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 45px;
}

.artist-name {
  display: inline-block;
  margin: auto;
  font-weight: 100;
  border-bottom: 1px solid transparent;
  color: hsla(0, 0%, 100%, .6);
}

.artist-name:hover {
  border-bottom: 1px solid white;
  color: white;
}

.artist-image-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 60px;
}

.artist-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
  border-radius: 100%;
}

.artist-image-container:hover .artist-overlay {
  opacity: 0.7;
}

.artist-img-overlay {
  max-height: 100%;
  max-width: 100%;
  width: 38%;
  height: 38%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.25s
}

.artist-img-overlay:hover {
  width: 44%;
  height: 44%;
  transition: 0.25s;
}

.artist-show-header {
  height: 380px;
}

.artist-show-image {
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.artists-albums {

  color: white;
  font-size: 42px;

}

.artist-image-name-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
  margin-top: 60px;
}

.artist-image-name-container div {
  width: 250px;
}

.artist-image-name-container div h1 {
  font-size: 42px;
  color: white;
  text-align: center;
}

.artist-image-name-container div button {
  width: 250px;
}
