#main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main-content .logout {
  position: absolute;
  right: 15px;
  bottom: 105px;
}

#main-content-2 {
  display: flex;
  background-image: linear-gradient(rgb(41, 44, 44), rgb(9, 10, 10));
  height: Calc(100vh - 90px);
}

#root {
  height: 100vh;
}

.page {
  height: 100%;
}

.feature-content {
  width: 100%;
  height: 100%;
  padding: 0px 35px;
  overflow: scroll;
}
