.sidebar {
  background-color: rgba(4, 5, 5, 0.7);
  width: 172px;
  padding: 24px;
  color: white;
  min-height: 350px;
  position: relative;
}

.sidebar .logo {
  width: 172px;
  display: flex;
  padding-bottom: 10px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 172px;
  height: 144px;
  color: rgb(155, 155, 155);
  margin-top: 26px;
}

.sidebar-links .link {
  height: 33px;
  padding-top: 10px;
  padding-bottom: 5px;

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 900;
}

.active-sidebar-link {
  color: rgb(20, 186, 92);
}

.sidebar-links .link:hover {
  color: white;
  transition: 0.3s;
}

.sidebar .logo img {
  width: 39px;
  height: 39px;
  margin-right: 6px;
}

.sidebar .logo h1 {
  padding-top: 6px;
  font-size: 25px;
  letter-spacing: -2px;
}

.user-tag {
  width: 172px;
  display: flex;
  position: fixed;
  border-top: 1px solid rgb(50,50,50);
  position: absolute;
  bottom: 0;
}

.user-tag h5 {
  margin-right: 16px;
  font-weight: 200;
}

.sidebar-logout {
  background-color: transparent;
  border: 1px solid white;
  height: 20px;
  width: 75px;
  font-size: 11px;
  margin-top: 26px;
}

.sidebar-logout:hover {
  background-color: transparent;
  color: rgb(20, 186, 92)
}

.sidebar-icon {
  margin-right: 10px;
}

.user-icon {
  font-size: 23px;
  margin-right: 10px;
}
