.songs-index {
  // overflow-y: scroll;
  // position: absolute;
  // height: 100%;
  width: 100%;
  height: Calc(100% - 50px);
  // top: 150px;
}

.song-index-item {
  display: flex;
  width: 100%;
  height: 64px;
  padding-bottom: 10px;
  margin-left: 53px;
}

.song-info {
  width: 100%;
  margin-right: 8px;
  padding-left: 45px;
}

.song-title-duration {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.elipse-duration {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 90px;
  margin-right: 75px;
}

.fa-ellipsis-h {
  width: 20px;
  color: lightgray;
  padding-top: 21px;
  opacity: 0;
  transition: 0.2s;
}

.duration {
  color: rgb(162, 167, 180);
}

.song-artist-album {
  display:flex;
  height: 20px;
  padding-bottom: 10px;
  font-size: 12px;
}

.artist-album-link {
  color: rgb(162, 167, 180);
  height: 14px;
  border-bottom: 1px solid transparent;
  margin-right: 8px;
}

.artist-album-link:hover {
  color: white;
  border-bottom: 1px solid white;
  transition: 0.2s;
}

.play-btn-music-note {
  position: relative;
}

.play-btn {
  width: 28px;
  height: 28px;
  opacity: 0;
  padding-top: 21px;
  padding-left: 8px;
  position: absolute;
  bottom: 13px;
}

.fa-itunes-note {
  opacity: 0.7;
  position: absolute;
  left: 15px;
  top: 28px;
  color: white;
}

.song-index-item:hover {
  background-color: rgba(0,0,0,0.4);
  transition: 0.4s;
  .play-btn {
    transition: 0.2s;
    opacity: 0.7;
  }
  .fa-itunes-note {
    transition: 0.2s;
    opacity: 0;
  }
  .fa-ellipsis-h {
    transition: 0.2s;
    opacity: 0.7;
    margin-top: 1px;
  }
}

.song-item-play-btn {
  background-color: transparent;
}

.song-item-play-btn:hover {
  background-color:transparent;
}

.song-favorite-button {
  background-color: transparent;
  margin-top: 11px;
}

.song-favorite-button:hover {
  background-color: transparent;
}

.lock:hover .icon-unlock, .lock .icon-lock {
  display: none;
}

.lock:hover .icon-lock {
  display: inline;
}

.song-favorite-button {
  width: 12px;
  height: 12px;
  margin-top: 20px;
}

.fa-check {
  color: #1db954;
}

.fa-times {
  color: red;
}
